extends ../root-layout

block body

	- user = user || {}

	div.row.page-title: div.col-12
		h1 Create a Titanic Account

	form.validate(method = "post", action = "/auth/register")
		div.row
			div.col-12.col-md-6
				div.form-group
					label(for="firstName") First Name
					input#firstName.form-control(type="test", name="firstName", required=true, value=(user.firstName || ""))

				div.form-group
					label(for="lastName") Last Name
					input#lastName.form-control(type="test", name="lastName", required=true, value=(user.lastName || ""))

				div.form-group
					label(for="email") Email Address
					input#email.form-control(type="email", name="email", required=true, value=(user.email || ""))

			div.col-12.col-md-6
				div.form-group
					label(for="firstPassword") Password
					input#firstPassword.form-control(type="password", name="firstPassword", required=true)

				div.form-group
					label(for="secondPassword") Repeat Password
					input#secondPassword.form-control(type="password", name="secondPassword", required=true, data-rule-equalTo="#firstPassword")

			div.col-12
				div.form-group
					button.btn.btn-primary(type = "submit") Register
